.DS_Store
node_modules
/dist
src/components/Input.vue
        src/components/Select.vue
        src/components/Textarea.vue
        src/components/VueMikTest.zip
        src/components/Vuuemik.zip
        src/components/oldField1
        src/components/oldVuemik1

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
